<% if(site.data.readinglist) {%>
  <div class="sidebar-module">
    <h4>Currently Reading</h4>
    <ul class="sidebar-module-list">
        <% for (item in site.data.readinglist) { %>
          <li class="sidebar-module-list-item">
			<a class="sidebar-module-list-link" href="<%= site.data.readinglist[item] %>"><%= item %></a>
		  </li>
		<% } %>
    </ul>
  </div>
<% } %>